.App {
  text-align: center;
  background:linear-gradient( to bottom, #414141, #000000);
  width:100%;
  color: white;
}
.header {
  font-family: 'Belleza', sans-serif;
  font-weight: normal;
  font-size: 24pt;
  display: flex;
  justify-content: space-between;
  /* margin: 0% 5%; */
  height: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:  #414141;
  color: white;
}
.header img {
  padding-right: 5%;
  padding-left: 2.5%;
}
.header div {
  padding-right: 7%;
}
#about {
  width: 50%;
  margin:auto;
  margin-top: 100px;
  padding-top: 50px;

}
p {
  text-align: start;
}

#research {
  width: 50%;
  margin:auto;
  padding-top: 50px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#cv {
  width: 50%;
  margin:auto;
  padding-top: 100px;
}
.cvItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cvItems button {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #414141;
}
.cvItems button a {
  color: white;
  text-decoration: none;
}
#footer a {
  margin: 10px;
}
#footer p {
  margin: 20px;
}
#footer .container p {
  align-self: flex-end;
}
#footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footer img {
  width: 40px;

}
#footer .container{
  display: flex;

}
.menu-items {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -140px;
  font-size: small;
  width: 140%;
}
.menu-items a {
  color: #414141;
  background-color: lightgrey;
  text-decoration: none;
}
.hidden {
  display:none;
}
.nav button {
  background-color: #414141;
  position: fixed;
  top: 0;
  margin-top: 20px;
}
